.vs/
CS408MatrixOperationsPntrPntr.VC.db
CS408MatrixOperationsPntrPntr.sln
CS408MatrixOperationsPntrPntr.VC.VC.opendb
CS408MatrixOperationsPntrPntr/CS408MatrixOperationsPntrPntr.vcxproj
CS408MatrixOperationsPntrPntr/CS408MatrixOperationsPntrPntr.vcxproj.filters
CS408MatrixOperationsPntrPntr/Debug/
Debug/
doxygen.config
doxygen/